
/*
header 
*/
.right {
    position: absolute;
    bottom: 0px; /** 場合によっては微調整 **/
    right: 0px;
}
.my-skyblue {color: skyblue}
header {
	position: relative;
	height: 30vh;
}
figure {
	position: relative;
  }
  
figure img {
	width: 100%;
	vertical-align: top;
}
  
figure figcaption {
	font-size: 30px;
	color: #ffffff;
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	align-items: center;
	justify-content: center;
}
  
.decorator {
	background-color: rgba(0, 0, 0, 0.3);
}
