@charset "utf-8";

/*slide.cssの読み込み
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import url(slide.css);

/*全体の設定
---------------------------------------------------------------------------*/
html {
	background-color: rgb(18, 74, 78);
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #777;		/*リンクテキストの色*/
	transition: 0.4s;	/*マウスオン時の移り変わるまでの時間設定。0.4秒。*/
}
a:hover {
	color: #7e7258;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*container。サイト全体を囲むブロック
---------------------------------------------------------------------------*/
#container {
	overflow: hidden;
	max-width: 1200px;		/*最大幅の制限。これ以上広がらない。*/
	margin: 30px auto 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);	/*ボックスの影。右へ、下へ、ぼかし幅。0,0,0は黒の事で0.2は色が20%ついた状態の事。*/
	border-radius: 30px;	/*角丸のサイズ*/
	padding: 40px;		/*ボックス内の余白*/
	background: #fff;	/*背景色*/
}

/*headerブロック
---------------------------------------------------------------------------*/
/*headerブロック*/
header {
	position: relative;
}
/*header内のtitle*/
header #title {
	position: absolute;z-index: 1;
	left: 5%;	/*headerの左から5%の場所に配置*/
	top: 5%;	/*headerの上から18%の場所に配置*/
	color: #fff;
	background: #000;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.5);	/*画像の背景色。0,0,0は黒の事で0.5は50%色がついた状態。*/
}
.header_icon_size {
	font-size: 3em;
}
.header_icon_position {
    position: absolute;
    bottom: 8px; /** 場合によっては微調整 **/
    right: 5px;
}
.header_icon_color {
	color: skyblue
}
/* Site Navigation */
header .site_nav {
    margin-top: 10px;
}
header .site_nav ul {
    margin: 0;
    padding: 0;
}
header .site_nav li {
    list-style: none;
	float: left;
	/*width: 25%;*/
}

header .site_nav a {
	text-decoration: none;
    padding: 15px 40px;
	border: 1px solid rgb(18, 74, 78);
}

header .site_nav a:hover {
	background-color: rgb(18, 74, 78);
}

/*contentsブロック。mainとsubブロックを囲むボックスです。
---------------------------------------------------------------------------*/
#contents {
	padding: 40px 0;	/*上下、左右へのコンテンツ内の余白*/
}

/*mainブロック
---------------------------------------------------------------------------*/
#main {
	overflow: hidden;
	float: right;		/*右に回り込み*/
	width: 75%;			/*ブロックの幅*/
}

/*h3タグ*/
#main h3,
#main-search h3 {
	clear: both;
	margin-bottom: 20px;	/*見出しの下(外側)に空けるスペース*/
	color: #333;			/*文字色*/
	background: linear-gradient(#fff, #eee);	/*グラデーション*/
	border-radius: 30px;	/*角丸のサイズ*/
	padding: 5px 20px;		/*上下、左右への見出し内の余白*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
}
/*段落(p)タグ*/
#main p,
#main-search p {
	padding: 0 20px 20px;	/*上、左右、下への余白*/
}
/*ulタグ*/
#main ul {
	list-style-type: none;
}
/*subブロック
---------------------------------------------------------------------------*/
#sub {
	float: left;		/*左に回り込み*/
	width: 20%;			/*ブロックの幅*/
	padding: 20px;
}

/* Introduction of image icon */
#sub img {
	width: 100%;
	height: auto;
}

/* Introduction of Table */
#sub #profile table.profile-list　{
	width:100%;
	table-layout: fixed;
	font-size: 100%;
}

#sub table.profile-list td {
	text-align: left;
	background-color: #438b8d;
	color: #fff;
	border: 4px solid #438b8d;
	vertical-align: top;
}

#sub .col-item, #sub .col-content  {
	width: 20%;
}
/*footerブロック
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	padding-bottom: 20px;
}
footer a {text-decoration: none;}
footer .pr {display: block;}

/*Contact us and Super Search page
---------------------------------------------------------------------------*/

/* styling forms */
form.contact_us,
form.super_search {
    background-color: #ECECEC;
	padding: 10px 20px;
}
form.contact_us .hidden_label,
form.super_search .hidden_label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

input[type="email"],
input[type="text"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
}

#main-search,
#main-contactus {
	overflow: hidden;
	float: left;		/*右に回り込み*/
	width: 70%;			/*ブロックの幅*/
}

#main-search ol span {
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 0.5em;
	padding: 3px;
	font-size: 80%;
	
}

/*画面幅900px以下の設定

------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:900px){
	#main {
		overflow: hidden;
		float: right;		/*右に回り込み*/
		width: 70%;			/*ブロックの幅*/
	}
}

/*画面幅500px以下の設定

------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:500px){
	body {
		font-size: 14px;	/*文字サイズ*/
		background: #fff;	/*背景色*/
	}
	header #title {
		position: absolute;z-index: 1;
		font-size: 50%;
		left: 5%;	/*headerの左から5%の場所に配置*/
		top: 5%;	/*headerの上から18%の場所に配置*/
		color: #fff;
		background: #000;	/*背景色（古いブラウザ用）*/
		background: rgba(0,0,0,0.5);	/*画像の背景色。0,0,0は黒の事で0.5は50%色がついた状態。*/
	}
	#contents {
		padding: 25px 0;	/*上下、左右へのコンテンツ内の余白*/
	}
	.header_icon_position {
		position: absolute;
		bottom: 2px; /** 場合によっては微調整 **/
		right: 1px;
	}
	.header_icon_size {
		font-size: 1.5em;
	}
	header .site_nav a {
		text-decoration: none;
		padding: 3px 4px;
		border: 1px solid rgb(18, 74, 78);
	}
	/*main,subブロック
	---------------------------------------------------------------------------*/
	#main,
	#sub,
	#main-search,
	#main-contactus {
		float: none;
		width: auto;	
	}
	/* Introduction of image icon */
	#sub #icon {
		text-align:center;
	}
	#sub img {
		width: 50%;
		height: auto;
	}

	#main ul {
		list-style: none;
		padding-left: 15px;
		display: table;
	  }

}