h1 {
    color: orange;
    text-align: center;
}

header p {
    color: green;
}

header p span {
    background-color: lightblue;
}

.highlight {
    background-color: yellow;
}

footer .highlight {
    background-color: gray;
}

html {
    background-color: #869960;
}

.container {
    background-color: #FFF;
	width: 940px;
	margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 0px 10px;
}

/* Site Navigation */
.site_nav {
    margin-top: 20px;
    margin-bottom: 20px;
}
.site_nav ul {
    margin: 0;
    padding: 0;
}
.site_nav li {
    list-style: none;
    float: left;
}
.site_nav a {
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid black;
}
.content-area {
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
}

.main-area {
	width: 60%;
	float: left;
}

.sidebar {
	width: 35%;
	float: left;
}

.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}


/* Table */
table {
    border-spacing: 0;
    border-collapse: collapse;
}
table th {
    text-align: left;
    background-color: cadetblue;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0, 0,0,0.6);
}

table th, table td {
    border: 1px solid cadetblue;
    padding: 10px;
}

table tbody tr:nth-child(even) td {
    background-color: #ECECEC;
}

/* styling forms */
form {
    background-color: #ECECEC;
    padding: 10px 20px;
}
.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"]
 {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
}
